@font-face {
    font-family: 'CustomFont';
    src: url('made_evolve.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    background: #131110;
    font-family: 'CustomFont', sans-serif;
    color: #131110;
    font-size: 1.5em;
    background-image: linear-gradient(45deg, #a100ff, #b455aa);
}

h2 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    text-align: center;
}
  
  /* Flexbox container to center the form */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .smallem {
    font-size: 0.6em;
  }
  /* Styling the form */
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #218838;
  }

  a {
    text-decoration: none;
    font-size: 0.6em;
    color: #a100ff
  }

  /* Button bar at the bottom */
.button-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    z-index: 1000;
  }
  
  /* App-style buttons */
  .app-button {
    width: 100px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .app-button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive design for mobile */
  @media only screen and (max-width: 600px) {
    .app-button {
      width: 80px;
      font-size: 14px;
    }
  }