html {
    background: linear-gradient(to bottom right, #e9b7ce, #d3f3f1);
    height: 100%;
}
h1, h2, h3 p, button{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    border-radius: 15px;
    background-color: #f2fbfb;
    width: 80%;
    margin: 5%;
    padding: 5%;
    filter: drop-shadow(5px 5px 10px #6d6d6d);
}

.card_table {
    width: 70%;
    margin-left:15%;
    margin-right:15%;
    text-align: center;
}

.blob {
    width: 50%;
    padding-bottom:50%;
    border-radius: 50%;
    margin: 25%;
    text-align: center;

}
.result_k {
    margin: 15%;
}
.result_k td{
    width: 4%;
    border-bottom:rgb(59, 59, 59) dashed;
    font-size: 1.5em;
    vertical-align: text-bottom;
}
.k {
    border-radius: 50%;
    width: 1.5em;
    margin: 0.1em;
    float: left;
    height: 1.5em;
    background: #f27a7d;
    font-size: 1em;
    text-align:center;
}
.j {
    border-radius: 50%;
    width: 1.5em;
    margin: 0.1em;
    float: left;
    height: 1.5em;
    background: #b2ef91;
    font-size: 1em;;
}
.m {
    border-radius: 50%;
    width: 3.5em;
    margin: 0.1em;
    float: left;
    height: 3.5em;
    background: #a1a1a1;
    font-size: 1em;
    text-align:center;
}
.l {
    border-radius: 50%;
    width: 3.5em;
    margin: 0.1em;
    float: left;
    height: 3.5em;
    background: #b2ef91;
    font-size: 1em;;
}


.triangle-up {
	width: 0;
	height: 0;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-bottom: 1em solid #b2ef91;
    margin: auto;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-top: 1em solid #f27a7d;
    margin: auto;
}

.blob_00 {
    border: 0.1em rgb(59, 59, 59) dashed;
}
.blob_01 {
    background: rgb(255, 255, 255);
    border: 0.1em rgb(59, 59, 59) dashed;
}
.blob_02 {
    background: black;
    border: 0.1em rgb(59, 59, 59) dashed;
}
.blob_10 {
    border: 0.2em rgb(169, 255, 185) dashed;
}
.blob_11 {
    background: white;
    border: 0.2em rgb(169, 255, 185) solid;
}
.blob_12 {
    background: black;
    border: 0.2em rgb(169, 255, 185) solid;
}
.blob_20 {
    border: 0.2em rgb(61, 61, 61) dashed;
}
.blob_21 {
    background: white;
    border: 0.2em rgb(61, 61, 61) solid;
}
.blob_22 {
    border: 0.2em rgb(61, 61, 61) solid;
}

.weekly {
    background: rgb(129, 128, 128);
    width: 80%;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2em;
}

button {
    width: 50%;
    padding:4em;
    margin-left:25%;
    margin-right:25%;
    margin-top:2em;
    display: block;
    font-size: large;

}

.streak{
    width: 50%;
    margin: 2em;
    height: 3em;
    background: green;
    padding: 40% 0;
}

.onstreak{
    float:left;
    width:60%;
    height:80%;
    background: white;
    border-top:10pc;
}

.unstreak{
    float:left;
width: 30%;
height:20%;
background:white;
}